.c-header {
  align-items: center;
  background-color: $color-yellow;
  display: flex;
  justify-content: space-between;
  padding: 3vh 30px;

  &__logo {
    max-width: 200px;
    min-width: 100px;
  }

  @include for-tablet-portrait-up {
    padding-left: 100px;
    padding-right: 100px;
  }
}
