// Importing website's font family
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Oxygen&display=swap");

// Fonts

$ft-oxygen: "Oxygen", sans-serif;
$ft-novaSquare: "Nova Square", cursive;

$font-map: (
  "title": (
    $ft-novaSquare,
    unquote("clamp(1.5rem, 0.9130rem + 2.6087vw, 3rem)"),
  ),
  "subtitle": (
    $ft-novaSquare,
    unquote("clamp(1rem, 0.8826rem + 0.5217vw, 1.3rem)"),
  ),
  "text": (
    $ft-oxygen,
    unquote("clamp(0.8rem, 0.7217rem + 0.3478vw, 1rem)"),
  ),
);
