$primary: #fdd55e;
$secondary: #333;
$tertiary: #fff;
$quaternary: #e6e6e6;
$quinary: #fdd55e;
$senary: #f2f2f2;
$septenary: red;
$fontSizeVeryLow: 0.875rem;
$fontSizeLow: 1.125rem;
$fontSizeMedium: 1.625rem;
$fontSizeHigh: 2rem;
$fontSizeVeryHigh: 3rem;